@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.contactsBlock {
    min-height: 100vh;
    background-color: $bgColor;
    padding: 100px 0;

    .contactsContainer {
        flex-direction: column;
        justify-content: space-between;
        min-height: 60vh;

        .form {
            width: 50%;
            min-height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .input {
                height: 60px;
                width: 55vw;
                margin-top: 5px;
                border-radius: 5px;
                padding: 25px;
                @include text('Barlow',18px,400, 1.6, $textSecondColor);
            }

            .textarea {
                height: 180px;
                width: 55vw;
                min-height: 150px;
                margin-top: 5px;
                border-radius: 5px;
                padding: 19px 25px 25px 25px !important;
                @include text('Barlow',18px,400, 1.6, $textSecondColor);
            }
        }
        @media screen and (max-width: 912px){
            .form {
                width: 100%;
                .input {
                    width: 90%;
                }
                .textarea {
                    width: 90%;
                }
            }
            .fadeForm{
                width: 100vw;
                display: flex;
                justify-content: center;
            }
        }
        .button {
            cursor: pointer;
            min-width: 170px;
            min-height: 40px;
            background-color: $primaryColor;
            border-radius: 5px;
            @include text('Barlow',18px,600, 1.6, $textColor);
            -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        }

        .button:hover {
            box-shadow: 0 0 40px 40px #ffffff inset;
            color: black;
        }
    }
}










