.skillsBlock{
    min-height: 100vh;
    background-color: #252439;
    padding: 100px 0;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .skills{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @media screen and (max-width: 630px){
            .skills {
                justify-content: center;
            }
        }
    }
}






