@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.mainBlock {
    min-height: 100vh;
    background-color: #6e7fd1;
    padding: 100px 0;
}

.mainContainer {
    padding: 50px 50px;
}

.text {
    width: 500px;
    color: #fff;
    @include text('Barlow',22px,600, 1.3, $textColor);
}

.text span {
    font-size: 30px;
}

.text h1 {
    font-size: 65px;
}

.photoBlock img {
    width: 300px;
    height: 320px;
    border-radius: 12px;
}