@import "/src/common/styles/sass/variables";
@import "/src/common/styles/sass/mixins";

.project {
  min-width: 250px;
  max-width: 320px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  .imageContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .button {
      font-size: 30px;
      color: $textColor;
      background-color: rgba(68, 67, 89, 0.42);
      text-decoration: none;
      position: relative;
      z-index: 1;

      &:hover {
        color: $textSecondColor;
      }
    }

    &::before {
      position: absolute;
      content: '';
      background-color: #444359;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }

  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .projectTitle {
      text-align: left;
      @include text('Barlow',22px,600, 1.3, $textColor);
    }

    .description {
      text-align: left;
      margin-bottom: 10px;
      @include text('Barlow',16px,400, 1.6, $textSecondColor);
    }
  }
}








