.projectsBlock {
    min-height: 100vh;
    background-color: #50988d;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #96659a;
    margin-bottom: 50px;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}