@import "/src/common/styles/sass/variables";

.projectsBlock {
  background-color: $bgThirdColor;
  padding: 100px 0;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 904px) {
        justify-content: center;
      }
    }
  }
}

